<%- include("partials/header.ejs")  %>

<main>
  <h1 class="title">Write your Tlikini</h1>
  <div class="container">
    <form action="/" method="POST">
      <div class="tlikini-area">
          <textarea name="tlikini" id="tlikini" placeholder="What's on your mind" ></textarea>
      </div>
          <input class="tlikini-button" type="submit" value="Itlikine" >
    </form>
  </div>